  <div class="wrapper">
    <nav class="nav">
      <ul class="nav__list" role="menubar">
        <li class="nav__item nav__item--isActive">
          <a href="#" class="nav__link focus--box-shadow" role="menuitem" aria-label="Home">
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path fill="#6563ff"
                d="M20,8h0L14,2.74a3,3,0,0,0-4,0L4,8a3,3,0,0,0-1,2.26V19a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3V10.25A3,3,0,0,0,20,8ZM14,20H10V15a1,1,0,0,1,1-1h2a1,1,0,0,1,1,1Zm5-1a1,1,0,0,1-1,1H16V15a3,3,0,0,0-3-3H11a3,3,0,0,0-3,3v5H6a1,1,0,0,1-1-1V10.25a1,1,0,0,1,.34-.75l6-5.25a1,1,0,0,1,1.32,0l6,5.25a1,1,0,0,1,.34.75Z" />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link focus--box-shadow" role="menuitem" aria-label="Favorite projects">
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68A1,1,0,0,0,6.9,21.44L12,18.77l5.1,2.67a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.88l.72,4.2-3.76-2a1.06,1.06,0,0,0-.94,0l-3.76,2,.72-4.2a1,1,0,0,0-.29-.88l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z" />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link focus--box-shadow" role="menuitem" aria-label="Informational messages"><svg
              class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M12,11a1,1,0,0,0-1,1v3a1,1,0,0,0,2,0V12A1,1,0,0,0,12,11Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,12,8Zm0-6A10,10,0,0,0,2,12a9.89,9.89,0,0,0,2.26,6.33l-2,2a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h9A10,10,0,0,0,12,2Zm0,18H5.41l.93-.93a1,1,0,0,0,.3-.71,1,1,0,0,0-.3-.7A8,8,0,1,1,12,20Z" />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link focus--box-shadow" role="menuitem" aria-label="Collections">
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M2.5,10.56l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,0-1.73l-9-5.2a1,1,0,0,0-1,0l-9,5.2a1,1,0,0,0,0,1.73ZM12,5.65l7,4-7,4.05L5,9.69Zm8.5,7.79L12,18.35,3.5,13.44a1,1,0,0,0-1.37.36,1,1,0,0,0,.37,1.37l9,5.2a1,1,0,0,0,1,0l9-5.2a1,1,0,0,0,.37-1.37A1,1,0,0,0,20.5,13.44Z" />
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link focus--box-shadow" role="menuitem" aria-label="Analytics">
            <svg class="nav__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M6,13H2a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H6a1,1,0,0,0,1-1V14A1,1,0,0,0,6,13ZM5,21H3V15H5ZM22,9H18a1,1,0,0,0-1,1V22a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V10A1,1,0,0,0,22,9ZM21,21H19V11h2ZM14,1H10A1,1,0,0,0,9,2V22a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V2A1,1,0,0,0,14,1ZM13,21H11V3h2Z" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <header class="header">
        <div class="header__wrapper">
          <form action="" class="search">
            <button class="search__button focus--box-shadow" type="submit">
              <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" />
              </svg>
            </button>
            <input class="search__input focus--box-shadow" type="text" placeholder="Project search" />
          </form>
          <div class="profile">
            <button class="profile__button">
              <span class="profile__name">Jessica</span>              
                <%= image_tag('prof_img.jpg', {class: "profile__img"}) %>
            </button>
          </div>
        </div>
      </header>

      <section class="section">
        <header class="section__header">
          <h2 class="secion__title">Graph</h2>
        </header>
        <ul class="project">
          <li class="project__item">
            <div class="project__wrapper">
              <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                  Pie chart demonstrating some accessibility features of Highcharts.
                  The chart shows which screen reader is used as the primary screen reader
                  by the respondents, with NVDA currently being the most popular one.
                  The JAWS screen reader is following closely behind.
                </p>
              </figure>
              <!-- <a href="#" class="project__link focus--box-shadow"> -->
            </div>
            </a>
          </li>

        </ul>
      </section>
      <section class="section">
        <header class="section__header">
          <h2 class="section__title">Records</h2>          
          <div class="section__control">
            <%= link_to 'New Blog', new_blog_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <button class="section__button focus--box-shadow" type="button" aria-label="Filter projects">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
                <path
                  d="M20,8.18V3a1,1,0,0,0-2,0V8.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V13.82a3,3,0,0,0,0-5.64ZM19,12a1,1,0,1,1,1-1A1,1,0,0,1,19,12Zm-6,2.18V3a1,1,0,0,0-2,0V14.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V19.82a3,3,0,0,0,0-5.64ZM12,18a1,1,0,1,1,1-1A1,1,0,0,1,12,18ZM6,6.18V3A1,1,0,0,0,4,3V6.18a3,3,0,0,0,0,5.64V21a1,1,0,0,0,2,0V11.82A3,3,0,0,0,6,6.18ZM5,10A1,1,0,1,1,6,9,1,1,0,0,1,5,10Z" />
              </svg>
            </button>
            <button type="submit" class="button1">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path
                  d="M20 15.628c0-.713-.154-1.919-1.191-1.98-.493-.03-.89-.414-.936-.904-.055-.581-.186-1.184-.476-1.744h-10.793c-.29.56-.421 1.163-.476 1.743-.046.49-.443.874-.936.904-1.037.062-1.192 1.268-1.192 1.981 0 .316.333 1.613 1.331 1.963.284.1.508.322.61.605.966 2.694 3.628 4.804 6.059 4.804 2.552 0 5.195-2.499 6.063-4.834.108-.29.344-.515.641-.606 1.07-.332 1.296-1.68 1.296-1.932zm-13-7.229v1.601h3v-1.5c0-.276.224-.5.5-.5s.5.224.5.5v1.5h2v-1.5c0-.276.225-.5.5-.5s.5.224.5.5v1.5h3v-1.647c.244-.058 3-.439 3-3.068 0-1.994-1.753-3.58-3.875-3.58-.806 0-1.278.198-1.941.428-1.137-1.123-1.63-1.133-2.184-1.133-.482 0-1.038.002-2.184 1.133-.68-.235-1.134-.428-1.941-.428-2.122 0-3.875 1.586-3.875 3.58 0 2.456 2.662 3.013 3 3.114zm14 7.229c0 .67-.453 2.407-2 2.887-1.023 2.754-3.999 5.485-7 5.485s-5.957-2.557-7-5.466c-1.52-.532-2-2.301-2-2.906 0-1.509.603-2.888 2.132-2.979.098-1.038.412-1.855.868-2.528v-.977c-1.825-.546-3-2.239-3-3.859 0-2.528 2.185-4.58 4.875-4.58.591 0 1.157.099 1.681.28.615-.607 1.483-.985 2.444-.985.961 0 1.828.378 2.443.985.525-.181 1.091-.28 1.682-.28 2.69 0 4.875 2.052 4.875 4.58 0 1.62-1.229 3.442-3 3.859v.976c.456.675.771 1.492.868 2.529 1.527.091 2.132 1.462 2.132 2.979zm-9 1.688c-1.9-1.287-1.351 1.854-4 .566.4 1.78 2.805 2.082 4 1.009 1.195 1.073 3.6.771 4-1.009-2.648 1.289-2.1-1.852-4-.566zm3-4.316c-.552 0-1 .525-1 1.174 0 .647.448 1.174 1 1.174s1-.527 1-1.174c0-.649-.448-1.174-1-1.174zm-5 1.174c0 .647-.448 1.174-1 1.174s-1-.527-1-1.174c0-.649.448-1.174 1-1.174s1 .525 1 1.174z" />
              </svg>
              <i class="fab fa-twitter fa-2x"></i>
            </button>
            <button class="section__button section__button--painted focus--box-shadow" type="button"
              aria-label="Add New project">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
                <path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z" />
              </svg>
            </button>
          </div>
        </header>
        <% @blogs.each do |blog| %>
          <ul class="project">
            <li class="project__item">
              <a href="#" class="project__link focus--box-shadow">
                <div class="project__wrapper">
                  <div class="project__element project__icon">
                    <div class="icon icon--viking" aria-label="Icon for the project 'Book cover design'">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
                        <path
                          d="M14,18a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v2A1,1,0,0,0,14,18Zm-4,0a1,1,0,0,0,1-1V15a1,1,0,0,0-2,0v2A1,1,0,0,0,10,18ZM19,6H17.62L15.89,2.55a1,1,0,1,0-1.78.9L15.38,6H8.62L9.89,3.45a1,1,0,0,0-1.78-.9L6.38,6H5a3,3,0,0,0-.92,5.84l.74,7.46a3,3,0,0,0,3,2.7h8.38a3,3,0,0,0,3-2.7l.74-7.46A3,3,0,0,0,19,6ZM17.19,19.1a1,1,0,0,1-1,.9H7.81a1,1,0,0,1-1-.9L6.1,12H17.9ZM19,10H5A1,1,0,0,1,5,8H19a1,1,0,0,1,0,2Z" />
                      </svg>
                    </div>
                  </div>
                  <div class="project__element project__inform">
                    <span class="project__inform-name"><%= blog.user.email %></span>
                  </div>
                  <div class="project__element project__date">
                    <time class="date" datetime="2020-05-05T10:00:00"><%= blog.title %></time>
                  </div>
                  <div class="project__element project__date">
                    <time class="date" datetime="2020-05-05T10:00:00"><%= blog.content %></time>
                  </div>  
                </div>
              </a>
                                                <div class="project__element project__date">
                    <span class="status status--in-work"><%= link_to 'Edit', edit_blog_path(blog) %></span>
                  </div>
                  <div class="project__element project__date">
                    <span class="status status--in-work"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></span>
                  </div>
            </li>     
          </ul>
        <% end %>
      </section>
    </main>
    <aside class="aside">
      <section class="section">
        <div class="aside__control">
          <button class="aside__button focus--box-shadow" type="button" aria-label="Close profile settings">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M17,11H9.41l3.3-3.29a1,1,0,1,0-1.42-1.42l-5,5a1,1,0,0,0-.21.33,1,1,0,0,0,0,.76,1,1,0,0,0,.21.33l5,5a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42L9.41,13H17a1,1,0,0,0,0-2Z" />
            </svg>
          </button>
          <button class="aside__button aside__button--notification focus--box-shadow" type="button"
            aria-label="You have new feedback">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="presentation">
              <path
                d="M18,13.18V10a6,6,0,0,0-5-5.91V3a1,1,0,0,0-2,0V4.09A6,6,0,0,0,6,10v3.18A3,3,0,0,0,4,16v2a1,1,0,0,0,1,1H8.14a4,4,0,0,0,7.72,0H19a1,1,0,0,0,1-1V16A3,3,0,0,0,18,13.18ZM8,10a4,4,0,0,1,8,0v3H8Zm4,10a2,2,0,0,1-1.72-1h3.44A2,2,0,0,1,12,20Zm6-3H6V16a1,1,0,0,1,1-1H17a1,1,0,0,1,1,1Z" />
            </svg>
          </button>
        </div>
        <div class="profile-main">
          <div class="profile-main__setting focus--box-shadow" type="button">
            <%= image_tag('prof_img.jpg', {class: "profile-main__photo"}) %>
          </div>
          
          <h1 class="profile-main__name">Jessica</h1>
        </div>
        <ul class="statistics">
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Teams</a><span class="statistics__entry-quantity">5</span>
          </li>
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Projects</a><span
              class="statistics__entry-quantity">3</span>
          </li>
          <li class="statistics__entry">
            <a class="statistics__entry-description" href="#">Feedback</a><span
              class="statistics__entry-quantity">48</span>
          </li>
        </ul>
      </section>
    </aside>
  </div>

<div class="color">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
  <%# <div id="calendar"></div> %>
</div>
